<html>
   <head>
       <title>WeBareBears blog</title>
   </head>
   <body>
       <div>
           <h1><a href="">WeBareBears Blog</a></h1>
       </div>
       <div>
           <p>published: 01.03.2020, 13:52</p>
           <h2><a href="">My first post</a></h2>
           <p>Grizz, Panda and IceBear's Daily Life in Sanfrancisco. Watch on Neflix</p>
       </div>
       <div>
           <p>published: 01.03.2020, 13:52</p>
           <h2><a href="">My second post</a></h2>
           <p>Episode 1. </p>
       </div>
   </body>
</html>